/* index.css */

.hero-section {
  background: radial-gradient(
    circle at 20% 50%,
    rgba(0, 242, 255, 0.05) 0%,
    transparent 50%
  );
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.hero-glass-card {
  background: var(--glass-bg);
  backdrop-filter: blur(15px);
  border: var(--panel-border);
  padding: 3rem;
  position: relative;
}

.hero-glass-card::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 40px;
  height: 40px;
  border-top: 2px solid var(--cyan);
  border-left: 2px solid var(--cyan);
}

.glitch-hero {
  font-family: "Black Han Sans", sans-serif;
  font-style: italic;
  position: relative;
}

.cyber-btn.primary {
  background: var(--cyan);
  color: #000;
}

.cyber-btn {
  font-family: "Orbitron", sans-serif;
  clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
  transition: 0.3s;
}

.glitch-hero::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(31px, 9999px, 94px, 0);
  }
  100% {
    clip: rect(89px, 9999px, 98px, 0);
  }
}
